# Save as e.g. /etc/systemd/system/rpi-htpc.service
[Unit]
Description=RpiHtpc
Requires=docker.service
After=docker.service

[Service]
Restart=always
User=pi
WorkingDirectory=/etc/rpi-htpc

# Start container when unit is started
ExecStart=/usr/local/bin/docker-compose -f /etc/rpi-htpc/docker-compose.yml up

# Stop container when unit is stopped
ExecStop=/usr/local/bin/docker-compose -f /etc/rpi-htpc/docker-compose.yml down -v

[Install]
WantedBy=multi-user.target
